In [18]:
#Authored by Nathan Tesfayi
import pandas as pd

# Specify that the first two rows are headers
IOP_df1 = pd.read_csv('/efs/sarp/data/Surf_OpticsProfilerData/IOP_NASAsarp23St01_001d.csv', header=[0, 1], skiprows=range(0, 66))

# Remove the second level of the multi-level column index (the units)
IOP_df1.columns = IOP_df1.columns.droplevel(1)

# Remove the first row (the row with units)
IOP_df1 = IOP_df1.drop(0)

# Retrieve the row with pressure = 1.5
IOP_df1 = IOP_df1[IOP_df1['pressure'] == 1.5]

print(IOP_df1)

   pressure       sal         Wt    CHL  agp400.9  agp404.3  agp407.8
1       1.5  0.483175  25.087299  9.128  5.131305  5.028419  4.901094  \

   agp410.9  agp414.5  agp418.2  ...  ECO_VSF_Beta_B100_  ECO_VSF_Beta_B125_
1  4.786908  4.644709   4.48997  ...            0.047892            0.039038  \

   ECO_VSF_Beta_B150_  ECO_VSF_Beta_G100_  ECO_VSF_Beta_G125_
1            0.029112            0.057872            0.049645  \

   ECO_VSF_Beta_G150_  ECO_VSF_Beta_R100_  ECO_VSF_Beta_R125_
1            0.031253            0.026128            0.021082  \

   ECO_VSF_Beta_R150_  Unnamed: 783_level_0
1            0.012768                   NaN

[1 rows x 784 columns]

In [19]:
#Authored by Nathan Tesfayi

import pandas as pd
import matplotlib.pyplot as plt
#!pip install folium
#!pip install geopandas


# Specify that the first two rows are headers
IOP_df2 = pd.read_csv('/efs/sarp/data/Surf_OpticsProfilerData/IOP_NASAsarp23St02_001d.csv', header=[0, 1], skiprows=range(0, 66))

# Remove the second level of the multi-level column index (the units)
IOP_df2.columns = IOP_df2.columns.droplevel(1)

# Remove the first row (the row with units)
IOP_df2 = IOP_df2.drop(0)

# Retrieve the row with pressure = 1.5
IOP_df2 = IOP_df2[IOP_df2['pressure'] == 1.5]

print(IOP_df2)

   pressure       sal         Wt    CHL  agp400.9  agp404.3  agp407.8
1       1.5  6.943292  25.274099  5.593  2.525151  2.443801  2.379273  \

   agp410.9  agp414.5  agp418.2  ...  ECO_VSF_Beta_B100_  ECO_VSF_Beta_B125_
1  2.294137  2.199241  2.119288  ...            0.026368            0.019836  \

   ECO_VSF_Beta_B150_  ECO_VSF_Beta_G100_  ECO_VSF_Beta_G125_
1            0.019297            0.029129            0.022047  \

   ECO_VSF_Beta_G150_  ECO_VSF_Beta_R100_  ECO_VSF_Beta_R125_
1            0.024495             0.02223            0.016174  \

   ECO_VSF_Beta_R150_  Unnamed: 783_level_0
1            0.012765                   NaN

[1 rows x 784 columns]

In [20]:
#Authored by Nathan Tesfayi

import pandas as pd
import matplotlib.pyplot as plt
#!pip install folium
#!pip install geopandas


# Specify that the first two rows are headers
IOP_df3 = pd.read_csv('/efs/sarp/data/Surf_OpticsProfilerData/IOP_NASAsarp23St03_001d.csv', header=[0, 1], skiprows=range(0, 66))

# Remove the second level of the multi-level column index (the units)
IOP_df3.columns = IOP_df3.columns.droplevel(1)

# Remove the first row (the row with units)
IOP_df3 = IOP_df3.drop(0)

# Retrieve the row with pressure = 1.5
IOP_df3 = IOP_df3[IOP_df3['pressure'] == 1.5]

print(IOP_df3)

   pressure      sal       Wt    CHL  agp400.9  agp404.3  agp407.8  agp410.9
1       1.5  2.07428  25.1355  8.351  4.839015  4.768963  4.629086  4.502522  \

   agp414.5  agp418.2  ...  ECO_VSF_Beta_B100_  ECO_VSF_Beta_B125_
1  4.362894  4.210021  ...            0.047917            0.039058  \

   ECO_VSF_Beta_B150_  ECO_VSF_Beta_G100_  ECO_VSF_Beta_G125_
1            0.029127            0.057872            0.049506  \

   ECO_VSF_Beta_G150_  ECO_VSF_Beta_R100_  ECO_VSF_Beta_R125_
1            0.031253            0.026128            0.021082  \

   ECO_VSF_Beta_R150_  Unnamed: 783_level_0
1            0.012768                   NaN

[1 rows x 784 columns]

In [21]:
#Authored by Nathan Tesfayi

import pandas as pd
import matplotlib.pyplot as plt
#!pip install folium
#!pip install geopandas

# Specify that the first two rows are headers
IOP_df4 = pd.read_csv('/efs/sarp/data/Surf_OpticsProfilerData/IOP_NASAsarp23St04_001d.csv', header=[0, 1], skiprows=range(0, 66))

# Remove the second level of the multi-level column index (the units)
IOP_df4.columns = IOP_df4.columns.droplevel(1)

# Remove the first row (the row with units)
IOP_df4 = IOP_df4.drop(0)

# Retrieve the row with pressure = 1.5
IOP_df4 = IOP_df4[IOP_df4['pressure'] == 1.5]

print(IOP_df4)

   pressure       sal       Wt    CHL  agp400.9  agp404.3  agp407.8  agp410.9
1       1.5  1.392861  25.1464  10.36  4.752492  4.671291  4.569278  4.426586  \

   agp414.5  agp418.2  ...  ECO_VSF_Beta_B100_  ECO_VSF_Beta_B125_
1  4.289721  4.158542  ...            0.047929            0.039067  \

   ECO_VSF_Beta_B150_  ECO_VSF_Beta_G100_  ECO_VSF_Beta_G125_
1            0.029134            0.057872            0.045068  \

   ECO_VSF_Beta_G150_  ECO_VSF_Beta_R100_  ECO_VSF_Beta_R125_
1            0.031253            0.026128            0.021082  \

   ECO_VSF_Beta_R150_  Unnamed: 783_level_0
1            0.012768                   NaN

[1 rows x 784 columns]

In [22]:
# Add a new column 'Station' with values 1, 2, 3, and 4 to each DataFrame
IOP_df1['Station'] = 1
IOP_df2['Station'] = 2
IOP_df3['Station'] = 3
IOP_df4['Station'] = 4

# Add latitude and longitude columns to each DataFrame
IOP_df1['Latitude'] = 37.23352811
IOP_df1['Longitude'] = -76.95025167

IOP_df2['Latitude'] = 37.16686789
IOP_df2['Longitude'] = -76.65008967

IOP_df3['Latitude'] = 37.21673139
IOP_df3['Longitude'] = -76.80024333

IOP_df4['Latitude'] = 37.21646
IOP_df4['Longitude'] = -76.87249

# Add datetime columns to each DataFrame
IOP_df1['datetime'] = pd.to_datetime('6/20/2023T13:09', utc=True)
IOP_df2['datetime'] = pd.to_datetime('6/20/2023T15:09', utc=True)
IOP_df3['datetime'] = pd.to_datetime('6/20/2023T15:56', utc=True)
IOP_df4['datetime'] = pd.to_datetime('6/20/2023T16:09', utc=True)

# Merge the DataFrames into one DataFrame
merged_df = pd.concat([IOP_df1, IOP_df2, IOP_df3, IOP_df4], ignore_index=True)

print(merged_df)

   pressure       sal         Wt     CHL  agp400.9  agp404.3  agp407.8
0       1.5  0.483175  25.087299   9.128  5.131305  5.028419  4.901094  \
1       1.5  6.943292  25.274099   5.593  2.525151  2.443801  2.379273
2       1.5  2.074280  25.135500   8.351  4.839015  4.768963  4.629086
3       1.5  1.392861  25.146400  10.360  4.752492  4.671291  4.569278

   agp410.9  agp414.5  agp418.2  ...  ECO_VSF_Beta_G125_  ECO_VSF_Beta_G150_
0  4.786908  4.644709  4.489970  ...            0.049645            0.031253  \
1  2.294137  2.199241  2.119288  ...            0.022047            0.024495
2  4.502522  4.362894  4.210021  ...            0.049506            0.031253
3  4.426586  4.289721  4.158542  ...            0.045068            0.031253

   ECO_VSF_Beta_R100_  ECO_VSF_Beta_R125_  ECO_VSF_Beta_R150_
0            0.026128            0.021082            0.012768  \
1            0.022230            0.016174            0.012765
2            0.026128            0.021082            0.012768
3            0.026128            0.021082            0.012768

   Unnamed: 783_level_0  Station   Latitude  Longitude
0                   NaN        1  37.233528 -76.950252  \
1                   NaN        2  37.166868 -76.650090
2                   NaN        3  37.216731 -76.800243
3                   NaN        4  37.216460 -76.872490

                   datetime
0 2023-06-20 13:09:00+00:00
1 2023-06-20 15:09:00+00:00
2 2023-06-20 15:56:00+00:00
3 2023-06-20 16:09:00+00:00

[4 rows x 788 columns]

In [23]:
merged_df.to_csv('IOP_CHLa.csv')